<h2>Add Course</h2>
<form name="courseForm" ng-submit="vm.addCourse(courseForm)">
    <div>
        <label>Course Name</label>
        <input type="text" name="courseName" ng-model="vm.newCourse.name" required ng-minlength="3">
        <span ng-show="courseForm.courseName.$invalid && courseForm.courseName.$touched" class="error">
            <span ng-show="courseForm.courseName.$error.required">Course name is required.</span>
            <span ng-show="courseForm.courseName.$error.minlength">Course name must be at least 3 characters.</span>
        </span>
    </div>
    <br>
    <div>
        <label>Instructor</label>
        <input type="text" name="instructor" ng-model="vm.newCourse.instructor" required>
        <span ng-show="courseForm.instructor.$invalid && courseForm.instructor.$touched" class="error">
            <span ng-show="courseForm.instructor.$error.required">Instructor is required.</span>
        </span>
    </div>
    <br>
    <button type="submit" ng-disabled="courseForm.$invalid">
        Add Course
    </button>
</form>